
<div class="container">
        <br>
        <br>
        
    <h1>Lista de Professores </h1>
<br>
<br>

    <table class="table table-secondary">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">Estado civil</th>
               
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let professor of professores">
                <th scope="row">{{professor.id}}</th>
                  <td>{{professor.nome}}</td>
                  <td>{{professor.idade}}</td>
                  <td>{{professor.estado}}</td>
                </tr>
              
            </tbody>
          </table>

</div>